<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" ng-class="navBarOverrides">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" ng-click="test()">edian</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="hideToggle()">Services</a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="hideToggle()">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="hideToggle()">About</a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="hideToggle()">Team</a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="hideToggle()">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
